.layout {
	.header {
		height: 70px;
		padding: 0 2em;
		background-color: #f4f4f4;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.title {
			font-size: 1.5em;
		}
		.logo {
			width: 150px;
			cursor: pointer;
			img {
				max-width: 100%;
			}
		}
	}
	.main {
		height: calc(100vh - 120px);
		overflow: auto;
	}
	.footer {
		height: 50px;
		line-height: 50px;
		padding: 0 2em;
		background-color: #f4f4f4;
		color: #888;
	}
}