.multi-input {
	max-width: 50%;
	position: relative;
	.btn {
		font-weight: 600;
		&:not(:first-child) {
			margin-left: 1em;
		}
		&.save {
			color: #0184fe;
		}
		&.cancel {
			position: absolute;
			bottom: .7em;
			right: 7em;
		}
	}
	.form {
		border: 1px solid #ccc;
		input {
			width: 100%;
			max-width: 400px;
		}
		.inputs {
			padding: 2em 1em;
		}
		.buttons {
			padding: .5em 1em;
			text-align: right;
			background-color: #e2edf5;
		}
		.remove {
			color: #888;
			cursor: pointer;
			margin-left: .5em;
			transition: all .1s;
			&:hover {
				color: #c00;
				font-weight: 600;
			}
		}
	}
}