* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	color: #333;

	.container {
		max-width: 1240px;
		margin: 0 auto;
		padding: 0 10px;
	}
}


.form {
	.form-group {
		position: relative;
		&:not(:last-child) {
			margin-bottom: 2em;
		}
	}
	label {
		position: absolute;
		left: 0;
		top: 0;
		color: #888;
		transition: all .2s;
	}
	input[type=text] {
		border: none;
		border-bottom: 1px solid #ccc;
		padding: .2em;
		&:focus {
			outline: none;
			border-bottom: 1px solid #0184fe;
			~ {
				label {
					top: -1.5em;
					color: #0184fe;
					font-size: .8em;
				}
			}
		}
		&.has-value {
			~ {
				label {
					top: -1.5em;
					font-size: .8em;
				}
			}
		}
	}
}

.btn {
	padding: .5em 1em;
	cursor: pointer;
	background-color: transparent;
	border: none;
	color: #888;
	transition: all .3s;
	&:hover {
		background-color: #f4f4f4;
	}
	&:focus {
		background-color: #f4f4f4;
		outline: 1px solid #333;
	}
}